@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 1;
    scroll-behavior: smooth;
}

:root{
    --bg: #fbf7f6ff ;
    --font: #003f91ff ;
    --hover: #00a6fbff ;
}

body{
    background-color: var(--bg);
    font-family: Quicksand   , sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/*scroll bar*/
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: #eee;
}
::-webkit-scrollbar-thumb{
    background-color: var(--font);
    border-radius: 1.5px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--hover);
}
/*scroll bar*/

/*navbar*/

header{
    width: 100%;
    position: fixed;
    padding: 20px 40px;
    z-index: 999;
}
 
header .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1150px;
    margin: auto;
    border-radius: 10px;
    background-color: var(--bg);
    opacity: 90%;
    box-shadow: 0 0 5px #0000004e;
}

.logo{
    width: 200px;
}

.nav a{
    display: inline-block;
    font-size: 1.4em;
    font-weight: 600;
    color: var(--font);
    padding: 10px 15px;
    transition: 0.3s;
}

.nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav a:hover{
    color: var(--hover);
}

/*navbar*/

/*main*/

section{ 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px ;
}

#home{
    padding-top: 0;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    max-width: 1100px;
    padding-top: 30px;
}

.maintexts{
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    padding-top: 100px;
}

.maintexts img{
    width: 500px;
}

.maintexts  p{
    font-size: 3.1em;
    margin: 10px 5cqmin;
    color: var(--font);
}

.maintexts p{
    color: var(--hover);
    font-size: 1.5em;
}

.button_cv , .abouttext .codejeem{
    display: inline-block;
    background-color: var(--font);
    color: var(--bg);
    font-size: 1.5em;
    padding: 10px 90px;
    border-radius: 10px;
    transition: ease 0.3s;
}

.button_cv:hover , .abouttext .codejeem:hover {
    background-color: var(--hover);
    transform: scale(1.1);
}

.sociallinks{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sociallinks a{
    color: var(--font);
    font-size: 2em;
    margin: 20px 20px;
    transition: ease 0.3s;
}

.sociallinks a:hover{
    color: var(--hover);
}

.mainlogo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
}

.mainlogo img{
    width: 350px;
}

/*main*/
/*about*/

.about{
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin: 20px;
}

.about h3{
    color: var(--font);
    font-size: 3em;
    margin: 20px 0;
    text-align: center;
}

.aboutcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding: 70px;
    border-radius: 20px;
    background-color: var(--font);
    background-image: linear-gradient(40deg ,var(--hover) , var(--font) 70% );
}

.aboutcontent{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#aboutusthb{
    flex-direction: row-reverse;
}

.abouttext h3{
    color: var(--bg);
}

.abouttext p{
    font-size: 1.5em;
    font-weight: 400;
    margin: 0 30px;
    margin-bottom: 40px;
    color: var(--bg);
}

.abouttext .codejeem{
    text-align: center;
    background-color: var(--bg);
    color: var(--font);
}

.usthbL{
    color: var(--bg);
    transition: ease 0.3s;
}

.usthbL:hover{
    color: var(--hover);
}

.abouttext .codejeem:hover{
    color: var(--bg);
}

.aboutimg img{
    width: 250px;
}

.aboutimg .am{
    width: 370px;
}

/*about*/

/*skills*/

.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1100px;
}

.skills h3{
    color: var(--font);
    font-size: 3em;
    margin: 20px 0;
    text-align: center;
}

.skillscontent{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(40deg ,var(--hover) , var(--font));
    border-radius: 20px;
    padding: 5px;
    width: 100%;
}

.skillcategory{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.skillcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 10px;
    padding: 5px 40px;
    width: 100%;
    height: 150px;
    background-color: var(--font);
    transition: ease 0.3s;
}

.skillcontainer:hover {
    background-color: var(--bg);
}
.skillcontainer:hover p{
    color: var(--font);
}

.i{
    width: 45px;
    background-color: var(--font);
    border-radius: 10px;
    padding: 2px;
}

.skillcontainer p{
    font-size: 1.2em;
    font-weight: 500;
    color: var(--bg);
}

.skillcontainer i{
    font-size: 2em;
}

/*skills*/

/*portfolio*/

.portfolio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1100px;
}

.portfolio h3{
    color: var(--font);
    font-size: 3em;
    margin: 20px 0;
    text-align: center;
}

.portfolio h4{
    font-size: 2.5em;
    color: var(--font);
    margin: 0px 90px;
    margin-top: 30px;
}

<<<<<<< HEAD
.webcontent , .gamecontent{
    width: 100%;
    overflow-x:auto;
    display: flex;
    padding: 0;
    scroll-snap-type: x mandatory;
    scroll-marker-group: after;
}

/*carousel effect*/

.webcontent{
    anchor-name: --webcarousel;
}

.gamecontent{
    anchor-name: --gamecarousel
}



.webcontent::scroll-marker-group , .gamecontent::scroll-marker-group{
=======
.portfoliocontent{
>>>>>>> 71a5981c33c5d7f43ebb8c4cd6d022a95279f61a
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

.card::scroll-marker{
    content: ' ';
    background-color: var(--font);
    padding: 7px;
    border-radius: 50px;
    transition: 0.3s ease;
}

.card::scroll-marker:target-current{
    background-color: var(--hover);
}

.webcontent::-webkit-scrollbar , .gamecontent::-webkit-scrollbar{
    display: none;
}

.webcontent::scroll-button(right) , .webcontent::scroll-button(left) , .gamecontent::scroll-button(right) , .gamecontent::scroll-button(left){
    z-index: 99;
    content: '▶';
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: var(--font);
    color: var(--bg);
    padding: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

.webcontent::scroll-button(right) , .webcontent::scroll-button(left){
    position: fixed;
    position-anchor: --webcarousel;
    position-area:right center;
    translate: -0%;
}

.gamecontent::scroll-button(right) , .gamecontent::scroll-button(left){
    position: fixed;
    position-anchor: --gamecarousel;
    position-area:right center;
    translate: -0%;
}

.webcontent::scroll-button(left) , .gamecontent::scroll-button(left){
    content: '◀';
    border-radius: 50px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position-area:left center;
    translate: 0%;
}

.webcontent::scroll-button(right):hover , .webcontent::scroll-button(left):hover , .gamecontent::scroll-button(right):hover , .gamecontent::scroll-button(left):hover{
    background-color: var(--hover);
}

.webcontent::scroll-button(right):disabled , .webcontent::scroll-button(left):disabled , .gamecontent::scroll-button(right):disabled , .gamecontent::scroll-button(left):disabled{
    opacity: 50%;
}

/*carousel effect*/

.card{
    scroll-snap-align: start;
    display: flex;
    aspect-ratio: 5/3;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--font);
<<<<<<< HEAD
    margin: 20px 5px;
=======
    margin: 15px 15px;
>>>>>>> 71a5981c33c5d7f43ebb8c4cd6d022a95279f61a
    box-shadow: 0px 0px 6px #0000008f;
    border-radius: 10px;
    background-image: linear-gradient(40deg ,var(--hover) , var(--font) 60% );
    transition: ease 0.3s;
}

#start{
    margin-left: 0;
}
#end{
    margin-right: 0;
}

.card:hover{
<<<<<<< HEAD
    transform: scale(1.02);
=======
    transform: scale(1.05);
>>>>>>> 71a5981c33c5d7f43ebb8c4cd6d022a95279f61a
}

.cardtext{
    padding: 20px 20px;
}

.card p{
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--bg);
}

.card a{
    display: inline-block;
    background-color: var(--bg);
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 1em;
    font-weight: 600;
    color: var(--font);
    transition: ease 0.3s;
    margin: 0 10px;
}

.card a:hover{
    transform: scale(1.1);
    color: var(--hover);
}

.card img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 2.5px;
    width: 360px;
}

/*portfolio*/
/*footer*/

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    width: 100%;
    background-color: rgb(6, 45, 92);
    background-color: var(--font);
    background-image: linear-gradient(180deg ,var(--hover) , var(--font) );
    padding-top: 30px;
    box-shadow: 0 0 5px #000;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.footer a{
    color: var(--bg);
}

.footer img{
    width: 200px;
}

.footer hr{
    width: 95%;
    height: 2px;
    border-radius: 10px;
    background-color: var(--hover);
    border: none;
}

.copyright{
    font-size: 0.8em;
    font-weight: 500;
    margin: 10px;
    color: var(--bg);
    width: 100%;
}

/*footer*/

.hovercolor {
    color: var(--hover);
}

.bg2color{
    color: var(--bg2);
}

/*responsivity*/

@media (max-width: 768px) {

    header .nav{
        display: block;
        text-align: center;
        box-shadow: 0 0 0;
    }
    .main{
        padding-top: 30px;
    }
    .maintexts{
        height: 100vh;
    }
    .maintexts h3{
        font-size: 2.5em;
    }
    .title{
        padding-top: 50px;
    }
    .aboutimg img , .aboutimg .am{
        width: 200px;
    }
    .aboutcontent{
        flex-wrap: wrap;
    }
    .portfolio h3{
        font-size: 2.5em;
    }
    .portfolio h4{
        font-size: 2em;
    }
}

@media (max-width: 500px){

    header{
        padding: 10px 10px ;
    }
    .main{
        padding: 0;
    }
    .maintexts .button_cv{
        padding: 10px 50px;
    }
<<<<<<< HEAD

=======
    .maintexts{

    }
>>>>>>> 71a5981c33c5d7f43ebb8c4cd6d022a95279f61a
    .mainlogo img , .maintexts img{
        width: 300px;
    }
    .about{
        margin: 0px;
    }
    .aboutcontainer{
        padding: 5px;
    }
    .abouttext h3{
        font-size: 2.3em;
    }
    .abouttext p{
        font-size: 0.8em;
        margin: 5px;
        
    }
    .aboutimg img , .aboutimg .am{
        width: 120px;
    }

    .skillcategory{
        flex-wrap: wrap;
    }

    .portfolio h4{
        text-align: center;
    }

    .card img{
        width: 300px;
    }

}

@media (max-width: 400px) {
    .nav a{
        padding: 10px 7px;
        font-size: 1.2em;
    }
    .maintexts h3{
        font-size: 1.6em;
    }
    .maintexts p{
        font-size: 1.1em;
    }
    .maintexts img{
        width: 250px;
    }
    .mainlogo img{
        width: 200px;
    }
    .sociallinks a{
        font-size: 1.6em;
    }
    .button_cv{
        font-size: 1em;
    }
    .abouttext h3{
        font-size: 1.5em;
    }

    .card a{
        font-size: 0.7em;
    }
    .cardtext p{
        font-size: 1em;
    } 
    .card img{
        width: 220px;
    }
    .cardtext .PMS{
        font-size: 0.9em;
    }
    section .title{
        font-size: 1.5em;
    }
    #portfolio h4{
        font-size: 1.2em;
    }
}