@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 1;
    scroll-behavior: smooth;
}

:root{
    --bg: #fbf7f6ff ;
    --font: #003f91ff ;
    --hover: #00a6fbff ;
}

body{
    background-color: var(--bg);
    font-family: Quicksand   , sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/*scroll bar*/
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: #eee;
}
::-webkit-scrollbar-thumb{
    background-color: var(--font);
    border-radius: 1.5px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--hover);
}
/*scroll bar*/

/*navbar*/

header{
    background-color: var(--bg); 
    width: 100%;
    position: fixed;
    padding: 10px 40px;
    z-index: 999;
    box-shadow: 0 0 5px #000;
}
 
header .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: auto;
}

.logo{
    width: 200px;
}

.nav a{
    display: inline-block;
    font-size: 1.4em;
    font-weight: 600;
    color: var(--font);
    padding: 10px 15px;
    transition: 0.3s;
}

.nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav a:hover{
    color: var(--hover);
}

/*navbar*/

/*main*/

section{ 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px ;
}

#home{
    padding-top: 0;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    max-width: 1100px;
    padding-top: 70px;
}

.maintexts{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
}

.maintexts img{
    width: 500px;
}

.maintexts  h3 , p{
    font-size: 3.1em;
    margin: 8px 0px;
    color: var(--font);
}

.maintexts p{
    color: var(--hover);
    font-size: 1.5em;
}

.button_cv , .abouttext .codejeem{
    display: inline-block;
    background-color: var(--font);
    color: var(--bg);
    font-size: 1.5em;
    padding: 10px 30px;
    border-radius: 10px;
    transition: ease 0.3s;
}

.button_cv:hover , .abouttext .codejeem:hover {
    background-color: var(--hover);
    transform: scale(1.1);
}

.sociallinks{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sociallinks a{
    color: var(--font);
    font-size: 2em;
    margin: 20px 20px;
    transition: ease 0.3s;
}

.sociallinks a:hover{
    color: var(--hover);
}

.mainlogo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
}

.mainlogo img{
    width: 350px;
}

/*main*/
/*about*/

.about{
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin: 20px;
}

.about h3{
    color: var(--font);
    font-size: 3em;
    margin: 20px 0;
    text-align: center;
}

.aboutcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding: 70px;
    border-radius: 20px;
    background-color: var(--font);
    background-image: linear-gradient(40deg ,var(--hover) , var(--font) 70% );
}

.aboutcontent{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.abouttext h3{
    color: var(--bg);
}

.abouttext p{
    font-size: 1.5em;
    font-weight: 400;
    margin: 0 30px;
    margin-bottom: 40px;
    color: var(--bg);
}

.abouttext .codejeem{
    text-align: center;
    background-color: var(--bg);
    color: var(--font);
}

.usthbL{
    color: var(--bg);
    transition: ease 0.3s;
}

.usthbL:hover{
    color: var(--hover);
}

.abouttext .codejeem:hover{
    color: var(--bg);
}

.aboutimg img{
    width: 250px;
}

.aboutimg .am{
    width: 370px;
}

/*about*/

/*skills*/

.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1100px;
}

.skills h3{
    color: var(--font);
    font-size: 3em;
    margin: 20px 0;
    text-align: center;
}

.skillscontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--font);
    background-image: linear-gradient(40deg ,var(--hover) , var(--font) , var(--hover) );
    border-radius: 10px;
    width: 100%;
}

.skillcategory{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.skillcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 15px;
    padding: 5px 40px;
    width: 100%;
    height: 150px;
    background-color: var(--bg);
    transition: ease 0.3s;
}

.skillcontainer:hover{
    box-shadow: 0px 0px 10px var(--hover);
}

.i{
    width: 45px;
    background-color: var(--font);
    border-radius: 10px;
    padding: 2px;
}

.skillcontainer p{
    font-size: 1.2em;
    font-weight: 500;
    color: var(--font);
}

.skillcontainer i{
    font-size: 2em;
}

/*skills*/

/*portfolio*/

.portfolio{
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.portfolio h3{
    color: var(--font);
    font-size: 3em;
    margin: 20px 0;
    text-align: center;
}

.portfolio h4{
    font-size: 2.5em;
    color: var(--font);
    margin: 0 90px;
}

.portfoliocontent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--font);
    margin: 40px 20px;
    box-shadow: 0px 0px 6px #000;
    border-radius: 10px;
    background-image: linear-gradient(40deg ,var(--hover) , var(--font) 60% );
    transition: ease 0.3s;
}

.card:hover{
    transform: scale(1.1);
}

.cardtext{
    padding: 20px 20px;
}

.card p{
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--bg);
}

.card a{
    display: inline-block;
    background-color: var(--bg);
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 1em;
    font-weight: 600;
    color: var(--font);
    transition: ease 0.3s;
    margin: 0 10px;
}

.card a:hover{
    transform: scale(1.1);
    color: var(--hover);
}

.card img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 2.5px;
    width: 390px;
}

/*portfolio*/
/*footer*/

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    width: 100%;
    background-color: rgb(6, 45, 92);
    background-color: var(--font);
    background-image: linear-gradient(180deg ,var(--hover) , var(--font) );
    padding-top: 30px;
    box-shadow: 0 0 5px #000;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.footer a{
    color: var(--bg);
}

.footer img{
    width: 200px;
}

.footer hr{
    width: 95%;
    height: 2px;
    border-radius: 10px;
    background-color: var(--hover);
    border: none;
}

.copyright{
    font-size: 0.8em;
    font-weight: 500;
    margin: 10px;
    color: var(--bg);
    width: 100%;
}

/*footer*/

.hovercolor {
    color: var(--hover);
}

.bg2color{
    color: var(--bg2);
}

/*responsivity*/

@media (max-width: 768px) {
    header .nav{
        display: block;
        text-align: center;
    }
    .main{
        padding-top: 30px;
    }
    .maintexts{
        height: 100vh;
    }
    .maintexts h3{
        font-size: 2.5em;
    }
    .title{
        padding-top: 50px;
    }
    .aboutimg img , .aboutimg .am{
        width: 200px;
    }
    .aboutcontent{
        flex-wrap: wrap;
    }
    .portfolio h3{
        font-size: 2.5em;
    }
    .portfolio h4{
        font-size: 2em;
    }
}

@media (max-width: 500px){

    .mainlogo img{
        width: 300px;
    }
    .maintexts img{
        width: 300px;
    }
    .about{
        margin: 0px;
    }
    .aboutcontainer{
        padding: 5px;
    }
    .abouttext h3{
        font-size: 2.3em;
    }
    .abouttext p{
        font-size: 0.8em;
        margin: 5px;
        
    }
    .aboutimg img , .aboutimg .am{
        width: 120px;
    }

    .skillcategory{
        flex-wrap: wrap;
    }

    .portfolio h4{
        text-align: center;
    }

    .card img{
        width: 300px;
    }

}

@media (max-width: 400px) {
    .nav a{
        padding: 10px 7px;
        font-size: 1.2em;
    }
    .maintexts h3{
        font-size: 1.6em;
    }
    .maintexts p{
        font-size: 1.1em;
    }
    .maintexts img{
        width: 250px;
    }
    .mainlogo img{
        width: 200px;
    }
    .sociallinks a{
        font-size: 1.6em;
    }
    .button_cv{
        font-size: 1em;
    }
    .abouttext h3{
        font-size: 1.5em;
    }

    .card a{
        font-size: 0.7em;
    }
    .cardtext p{
        font-size: 1em;
    } 
    .card img{
        width: 220px;
    }
    .cardtext .PMS{
        font-size: 0.9em;
    }
    section .title{
        font-size: 1.5em;
    }
    #portfolio h4{
        font-size: 1.2em;
    }
}