@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Quicksand:wght@300..700&display=swap');

@theme{
    --default-font: 'Outfit' , sans-serif;
    --title-font: 'Montserrat' , sans-serif;
    --special-font: 'Quicksand' , sans-serif;
}

/*main variables : fonts , colors . gradients*/
:root{
    --default-font: 'Outfit' , sans-serif;
    --title-font: 'Montserrat' , sans-serif;
    --special-font: 'Quicksand' , sans-serif;

    --bg-color: #0f172a;
    --font-color: #fff;
    --color-g-1: #05386b;
    --color-g-2: #5cdb95;
    --color-g-btw: #318a80;
    --gradient: linear-gradient(90deg, var(--color-g-1), var(--color-g-2));
}

*{
    scroll-behavior: smooth;
    box-sizing: border-box;
}

/* AOS animations scalling problem solution*/
html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

/* BG design*/
.grid-bg-masked {
  background-image: 
    linear-gradient(to right, rgba(255, 255, 255, 0.07) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.07) 1px, transparent 1px);
  background-size: 70px 70px;
}

/* Initial state of the body*/
body{
    margin: 0;
    padding: 0;
    font-family: var(--default-font);
    color: var(--font-color);
    background-color: var(--bg-color);
}

/* navbar margin*/
section{
    scroll-margin-top: 70px;
}

select option {
    background-color: var(--bg-color) !important;
    color: #ffffff !important;            
}

